<%= form_with model: @milestone, local: true do |form| %>
    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>
    <p>
      <%= form.label :distance %><br>
      <%= form.text_field :distance %>
    </p>
    <p>
      <%= form.label :photo_url %><br>
      <%= form.text_field :photo_url %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>